<p><h2>Wineries</h2></p>

<p>
    <table id="winerytable" class="table table-hover">
        <tr>
                <th> <a href="#" id="name">Name</a> </th>
                <th> <a href="#" id="year">Founded</a> </th>
                <th> <a href="#" id="active">Active</a> </th>
                <th> <a href="#" id="wines">Wines</a> </th>
        </tr>

    </table>
</p>