<p><h2>Wines</h2></p>

<p>
    <table id="winetable" class="table table-hover">
        <tr>
            <th> <a href="#" id="name">Name</a> </th>
            <th> <a href="#" id="style">Style</a> </th>
            <th> <a href="#" id="winery">Winery</a> </th>
        </tr>
    </table>
</p>